<div class="container">

  <h4 class="title">🏆 Wrestling Tournament Simulator</h4>

  <div class="row">
  
    <div class="create">
      <h5>Input</h5>
      <div class="textarea">
        <textarea type="text" #input>{{sampleInput | json}}</textarea>
      </div>
      <button class="button" (click)="startTournament(input.value)">Start Tournament</button>
    </div>

    <div class="tournament">
      <div class="messages">
        <p *ngFor="let message of messages">{{message}}</p>
      </div>
    </div>
  
  </div>

</div>